<!DOCTYPE html>
<html lang="en">
<head>
    <title>filetransfer - login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,h1 {
            font-family: "Raleway", sans-serif
        }
        body, html {
            height: 100%
        }
        .bgimg {
            background-image: url('../static/bg.jpg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            FILETRANSFER DEMO
        </div>
        <div class="w3-display-topmiddle">
            <h1 class="w3-jumbo w3-animate-top">{{message}}</h1>
        </div>
        <div class="w3-display-middle">
            <br>
            <form action="" method="post">
                <input class="w3-input" type="text" placeholder="Username" name="username" value="{{request.form.username }}">
                <input class="w3-input" type="password" placeholder="Password" name="password" value="{{request.form.password }}">
                <br>
                <button class="w3-btn w3-teal" type="submit" value="Login">Login</button>
            </form>
        </div>
        {% if error %}
            <div class="w3-display-bottommiddle w3-padding-64">
                <p style="color: rgb(255,125,125)">{{ error }}</p>
            </div>
        {% endif %}
        <div class="w3-display-bottomleft w3-padding-large">
            Powered by <a href="https://filebase.com" style="color: rgb(255,200,100);" target="_blank">Filebase</a>
        </div>
    </div>
</body>
</html>